* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body {
    background-color: #7eaddc !important;
}

a{
    text-decoration: none !important;
}

a:hover{
    text-decoration: none !important;
}

.container {
    margin: 0 auto;
    width: 100vw;
}

.logo{
    width: 150px;
}

.bigTitle{
    font-size: 60px;
    color: #e7ea83;
    font-weight: 600;
    margin-left: 25px;
}

.options {
    height: 13vw;
    margin: 10px;
    text-align: center;
    background-color: #e7ea83;
    box-sizing: border-box;
    color: #d1232a;
    vertical-align: middle;
    padding-top: 30px;
}

.optionBackHome{
    background-color: #376b9a;
    color: #e7ea83;
}

#options, #optionsNoIcon {
    font-size: 2.5em;
    font-weight: bold;
}

#optionsNoIcon{
    position: relative;
    top: 20%;
}
.glyphicon{
    font-size: 60px;
}
/*.icon{*/
    /*width: 75px;*/
/*}*/

/*#elvis{*/
    /*width: 60px;*/
/*}*/

.optionsKlein {
    float: left;
    width: 22vw;
    height: 10vw;
    margin: 1vw;
    text-align: center;
    border: 1px solid black;
    background-color: #e7ea83;
    box-sizing: border-box;
    color: #d1232a;
    vertical-align: middle;
}

#optionsKlein {
    top: 40%;
    position: relative;
    font-size: 1.3em;
}

.optionsMiddel {
    float: left;
    width: 31vw;
    height: 13vw;
    margin: 1vw;
    text-align: center;
    border: 1px solid black;
    background-color: #e7ea83;
    box-sizing: border-box;
    color: #d1232a;
    vertical-align: middle;
}

#optionsMiddel {
    top: 40%;
    position: relative;
    font-size: 1.3em;
}

