* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #7eaddc;
}

.container {
    margin: 0 auto;
    width: 100vw;
}

.title {
    color: #e7ea83;
    font-size: 1.7em;
}

.options {
    float: left;
    width: 22vw;
    height: 13vw;
    margin: 1vw;
    text-align: center;
    border: 1px solid black;
    background-color: #e7ea83;
    box-sizing: border-box;
    color: #d1232a;
    vertical-align: middle;
}

#options {
    top: 40%;
    position: relative;
    font-size: 2em;
    font-weight: bold;
}

.optionsKlein {
    float: left;
    width: 22vw;
    height: 10vw;
    margin: 1vw;
    text-align: center;
    border: 1px solid black;
    background-color: #e7ea83;
    box-sizing: border-box;
    color: #d1232a;
    vertical-align: middle;
}

#optionsKlein {
    top: 40%;
    position: relative;
    font-size: 1.3em;
}

.optionsMiddel {
    float: left;
    width: 31vw;
    height: 13vw;
    margin: 1vw;
    text-align: center;
    border: 1px solid black;
    background-color: #e7ea83;
    box-sizing: border-box;
    color: #d1232a;
    vertical-align: middle;
}

#optionsMiddel {
    top: 40%;
    position: relative;
    font-size: 1.3em;
}